# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
.next/
.vercel/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database
*.db
*.sqlite
.vercel
